:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: #C33764;
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);
  background: linear-gradient(to right, #1D2671, #C33764);
  
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  background-color: transparent;
  color: white;
}
button:hover {
  border-color: #646cff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  color: rgba(256, 256, 256, 0.7);
  /* transform: translateY(2px); */
}
button:focus,
button:focus-visible {
  outline: none;
}

button.blockButton{
  opacity: .4;
  cursor: not-allowed
  /* style={{ opacity: blockButton ? .4 : 1, cursor: blockButton ? 'not-allowed' : 'pointer' }} */
}

button.blockButton:hover {
  border-color: white;
  box-shadow: none;
  color: inherit;
}

.mainContainer {
  /* background-image: linear-gradient(-234deg, #6ae472 0%, #4bc253 100%); */
  /* box-shadow: 0 0 51px rgb(75 194 83 / 74%); */
  background-color: rgba(255,255,255,.05);
  border-radius: 20px;
  padding: 20px 40px;
  max-width: 400px;
  text-align: left;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

.mainContainer > div { 
  margin: 20px 0;
}

.container__options {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1em;
  word-spacing: 2px;
}

.container__options label { 
  width: 100%;
  text-align: left;
  cursor: pointer;
}


.container__button {
  text-align: center;
}

.container__results input{
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
}

.container__results .container__input{
  margin: 0 auto;
  max-width: 400px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
  background: hsla(0,0%,100%,.15);
  border: solid 2px transparent
}

.container__results .inputCopied{
  border-color: rgba(131,88,255,1);
}

.container__results span{
  cursor: pointer;
}

.done {
  position: absolute;
    text-align: center;
    opacity: 0;
    transform: translateY(-1em);
    color: #000;
    transition: all .500s;
}

.copied .done {
  top: auto;
  opacity: 1;
  transform: translateY(-2em);
  color: white;
  font-size: 18px;
}

.container__lenght-characters div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(256, 256, 256, 0.8)
}

.container__lenght-characters div p{
  font-size: 20px;
  font-weight: bold;
}

input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: hsla(0,0%,100%,.15);
  border-radius: 1px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}


input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  /* border: 0px solid #010101; */
  border-radius: 2px;
  /* box-shadow: 1px 1px 1px #000000; */
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  /* box-shadow: 1px 1px 1px #000031; */
  /* border: 1px solid #00001E; */
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}

.container__levelSecurity > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.levelBarContianer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.levelBar {
  width: 8px;
  background-color: rgba(128, 128, 128, 0.758);
  margin: 3px;
}

.levelBar1 {
  height: 10px;
}

.levelBar2 {
  height: 20px;
}

.levelBar3 {
  height: 30px;
}

.levelBarCheck {
  background-color: #76ff03;
}

::placeholder{
  color: rgba(255, 255, 255, 0.35)
}